@font-face {
    font-family: 'Cabin Sketch Bold';
    src: url('CabinSketch-Bold.woff2') format('woff2'),
        url('CabinSketch-Bold.woff') format('woff'),
        url('CabinSketch-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cabin Sketch';
    src: url('CabinSketch-Regular.woff2') format('woff2'),
        url('CabinSketch-Regular.woff') format('woff'),
        url('CabinSketch-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-titulo{
    font-family: 'Cabin Sketch Bold';
}

.font-pd{
    font-family: 'Cabin Sketch';
}
